.App {
  font-family: sans-serif;
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
  border: 1px #99a8b2;
  border-radius: 8px;
  backdrop-filter: blur(10px);
}

body {
  background-color: #99a8b2;
  background-image: url(./skyLight.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  color: #1c2b2d;
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-size: 60px;
  color: #0a043c;
}

h2 {
  font-size: 35px;
  color: #14274e;
}

h3 {
  font-size: 20px;
}
h4 {
  font-size: 40px;
}

.Week {
  font-family: "Quicksand", sans-serif;
  margin-left: 50px;
}

.col-sm-2 {
  color: #1f6f8b;
}

.card {
  background-color: #d0e8f2;
}

.card-text {
  font-size: 15px;
}

p {
  color: #14274e;
  text-align: center;
}

.temp {
  font-size: 30px;
  color: #1c2b2d;
  display: inline;
}

a {
  color: #1f6f8b;
  display: inline;
}

a:hover {
  color: #000000;
  font-style: normal;
  text-emphasis: none;
  text-decoration: none;
}

.Units {
  position: relative;
  font-size: 25px;
  top: -20px;
}

.col-form-label {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 14px;
  border-color: #738598;
  outline: none;
}

.btn-light {
  padding: 5px;
  border-color: #738598;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f3f9fb;
}

.btn-light:hover {
  background-color: #99a8b2;
}

.Active {
  color: #1c2b2d;
  cursor: default;
}

.Active:hover {
  text-decoration: none;
}

.Hum-wind {
  font-size: 14px;
  color: #1c2b2d;

  font-family: "Quicksand", sans-serif;
}

.Icon-one,
.Icon-two,
.Icon-three,
.Icon-four,
.Icon-five {
  max-width: 60px;
}
